body {
  margin: 0;
  background-color: black;
}

#contact-me-div {
  /* border:1px solid white; */
  height: 100%;
  width: 100%;
  background-image: url("../Pictures/mostafa-meraji-cyEpUehK1cs-unsplash.jpg");
  background-size: cover;
}
#contact-me-div2 {
  /* border: 1px solid white; */
  height: 130%;
  width: 100%;
}

#imgstyle {
  width: 70%;
  height: 70%;
  margin-top: 8%;
  margin-left: 14%;
}

#space {
  /* border: 1px solid white; */
  width: 100%;
  justify-content: space-between;
  height: 100%;
}
#blank-space {
  /* border: 1px solid white; */
  width: 50%;
  height: 100%;
  float: left;
  display: inline;
}
#emri {
  /* border: 1px solid white; */
  width: 50%;
  height: 10%;
  float: left;
  margin-top: 10%;
  margin-left: 10%;
  color: white;
}

#koment-space {
  /* border:1px solid white; */
  width: 60%;
  height: 40%;
  float: left;
  display: inline;
  margin-top: 5%;
  margin-left: 10%;
}

#form-div {
  /* border:1px solid white; */
  width: 50%;
  height: 100%;
  float: right;
  display: inline;
}
#styletext {
  font-family: "Special Elite", cursive;
}
#muzik-space {
  width: 50%;
  height: 20%;
  display: flex;
  margin: 2em auto;
}

#style1 {
  font-family: "Special Elite", cursive;
  color: white;
  text-align: justify;
}
#test4 {
  /* border: 1px solid white; */
  width: 50%;
  height: 100%;
  float: left;
  display: inline;
  margin-top: 10%;
  color: white;
  padding: 2px 5px;
  text-align: justify;
  font-family: "Special Elite", cursive;
}

#test2 {
  /* border: 1px solid white; */
  width: 100%;
  height: 150%;
  float: left;
  display: inline;
}

/* #styleinput::-webkit-validation-bubble */
/* #style12{
  border: 1px solid white;
  margin-top: 3%;
  height: 5%;
  width: 15%;
  color: white;
background-color: black;
font-family: 'Special Elite', cursive;
  padding: 1% 2%;
} */

/* #contactis2{

  color: white;
  margin-left: 5%;
float: left;
display: inline;
font-family: 'Oswald', sans-serif;
font-size: 20px;
} */

/* #styleinput2{
  display: inline;
  margin-left: 10px;
  font-size: 20px;
  color: white;
  margin-top: 2%;
  float:left;
  font-family: 'Special Elite', cursive;
  padding: 1% 1%;
  font-weight: bold;
  border-bottom: 1px solid white;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  background-color: black;
} */

#styleinput2::placeholder {
  font-size: 15px;
}

/* 
#form{
  display: flex;
  margin-left: auto;
  padding: 1% 2%;
 

} */
.si {
  font-size: 20px;
  color: white;
  margin-top: 2%;

  font-family: "Special Elite", cursive;
  padding: 1% 1%;
  font-weight: bold;
  border-bottom: 1px solid white;
  border-top: 1px solid transparent;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  background-color: black;
}

.si::placeholder {
  font-size: 15px;
}
/* #name1{
  font-family: 'Oswald', sans-serif;
  
}
#surname1{
  font-family: 'Oswald', sans-serif;
 
}
#email1{
  font-family: 'Oswald', sans-serif;

}
#subject1{
  font-family: 'Oswald', sans-serif;
 
} */
#form textarea {
  margin-left: 0%;
  border: 1px solid white;
  color: white;
  font-size: 20px;
  background-color: black;
  font-family: "Special Elite", cursive;
  resize: none;
}
#form #error_message {
  font-family: "Oswald", sans-serif;
  margin-bottom: 20px;
  padding: 0px;
  background: black;
  text-align: center;
  transition: all 0.5s ease;
  font-size: 14px;
}
#text23 {
  font-family: "Oswald", sans-serif;
}
#style234 {
  /* border: 1px solid white; */
  margin-top: 2%;
  height: 5%;
  color: white;
  background-color: black;
  font-family: "Special Elite", cursive;
  padding: 1% 2%;
}

#newdivvideotryout {
  /* border: 1px solid white; */
  width: 100%;
  height: 150%;
  float: left;
  display: inline;
  position: relative;
}
#video1 {
  margin: auto;
  display: block;
  filter: grayscale(100);
  max-width: 100%;
}
#last {
  /* border: 1px solid white; */
  width: 100%;
  height: 150%;
  float: left;
  display: inline;
}
#erestina {
  /* border: 1px solid white; */
  width: 50%;
  height: 100%;
  float: left;
  display: inline;
}
#pic {
  /* border: 1px solid white; */
  width: 50%;
  height: 30%;
  float: left;
  display: inline;
  margin-top: 20%;
  margin-left: 25%;
  background-image: url("../Pictures/Erestina.png");
  filter: grayscale(100);
  background-size: cover;
}

#edisona {
  /* border: 1px solid white; */
  width: 50%;
  height: 100%;
  float: left;
  display: inline;
}
#pic1 {
  /* border: 1px solid white; */
  width: 50%;
  height: 30%;
  float: left;
  display: inline;
  margin-top: 20%;
  margin-left: 35%;
  background-image: url("../Pictures/edisona.jpg");
  background-size: contain;
  background-repeat: no-repeat;
}
#texter {
  /* border: 1px solid white; */
  width: 50%;
  height: 40%;
  float: left;
  display: inline;
  margin-top: 10%;
  margin-left: 25%;
  color: white;
  text-align: justify;
  font-family: "Special Elite", cursive;
}

.middleForm {
  display: flex;
  margin-left: auto;
}

.comments-space{
  color: white;
  display: flex;
}
.comments-space .comment {
  flex:1;
  padding: 1em;
}
#contact-form {
  padding: 1em;
}
#contact-form #textareas {
  width: 100%;
}

@media only screen and (max-width: 768px) {
  .comments-space{
    flex-direction: column;
  }
  #position {
    left: 10px;
  }
  #navbar a {
    min-width: 24%;
  }
  #video-01 {
    margin: auto;
    display: block;
    filter: grayscale(100);
  }
  /* .line-1 {
    white-space: pre-wrap;
    overflow: hidden;
  } */
}
