body, html{
    height: 100%;
    margin:0;
   background-color: black;
  }
  
  ::-webkit-scrollbar {
    display: none;
  }
  
  #space-div{
   /*border: 1px solid white; */
  width: 100%;
  height: 20%;
  
  }
  
  #style-h1{
    color: white;
    text-align: center;
    margin-top: 50px;
    font-size: 400%;
    font-weight: 200;
    font-family: 'Special Elite', cursive;
  }
  
  #ngjyra{
    color :white;
    margin: 3px 3px;
    font-family: 'Special Elite', cursive;
    
  }
  #po{
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    margin-top: 0px;
  
  }
  #po1{
  color: white;
  font-size: 18px;
  font-family: 'Open Sans Condensed', sans-serif;
  text-align: justify;
  }
  
  
  #float-right-id{
/*  
   border: 1px solid white; 
*/  float: right;
  display: inline;
  width: 34%;
  height:70%;
  }
  
  #photos-writer{
   /*border: 1px solid white; */
  width: 70%;
  height: 40%;
  float: right;
  display: inline;
  margin-right: 15%;
  margin-top: 10%;
  background-image: url('../Pictures/Erestina.png');
  background-size: cover;
  
  }
  
  #Autori{
     /*border: 1px solid white; */
    width: 50%;
    height: 8%;
    float: left;
    display:inline;
    margin-top: 3%;
    margin-left: 15%;
    color: white;
    font-family: 'Special Elite', cursive;
    letter-spacing: 1px;
    font-size: 20px;
  }
  #new-autori-div{
  /* border:1px solid white; */
  height: 40%;
  width: 70%;
  float: left;
  display: inline;
  margin-left: 15%;
  margin-top: 3%;
  
  }
  #color-a{
    color: white;
    font-family: 'Open Sans Condensed', sans-serif;
    text-align: justify;
    word-spacing: 1px;
    letter-spacing: 1px;
  }
  #color-a::first-letter{
    font-size: larger;
    color:aqua
  }
  
  #main-div{
  
     /*border: 1px solid white; 
*/    height: 90%;
    width: 100%;
    background-image: url('../Pictures//doug-linstedt-jEEYZsaxbH4-unsplash.jpg');
    background-size: cover;
  
  
  }
  
  #second-div{
     /*border: 1px solid white;*/ 
    height:150%;
    width: 100%;
  
  }
  #pictures-div{
/*   border: 1px solid white; 
*/  height: 60%;
  width: 60%;
  margin-left: 5%;
  margin-top:5%;
  background-image: url('../Pictures/jordan-whitt-b8rkmfxZjdU-unsplash.jpg');
  background-size: cover;
  
  }
  #title-div{
     border: 1px solid white; 
    height: 2%;
    width: 50%;
    margin-left: 5%;
    margin-top:2%;
  }
  
  #username-div{
    /* border:1px solid white; */
    height: 2%;
    width: 20%;
    margin-left: 5%;
    margin-top:2%''
  
  }
  
  #comment-box{
   /*border:1px solid white; */
  height: 20%;
  width: 60%;
  margin-left: 5%;
  
  
  
  }
  
  
  
  
  
  
  
  
  
  
  /*----------------------------------------------------------------------------------*/
  
    
    
    
    .parallax {
      overflow: auto;
      /* The image used */
      background-image: url("../Pictures/jm-dav-muLm0SUrrf4-unsplash.jpg");
     /* opacity: 0.6;*/
      /* Full height */
      height: 100%; 
      /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: no-repeat;
      background-size: cover;
    }
    #second-div-using-parallax-version-2{
      /* background-color: #161616; 
      background-image: url("Pictures/Capture.PNG");*/
      height: 1060px;
      overflow: auto;
        width: auto;
         /* Create the parallax scrolling effect */
      background-attachment: fixed;
      background-position: center;
      background-repeat: repeat;
      background-size: auto;
    }
    #inside-div-second{
        height: 600px;
        width: 60%;
      border:4px solid black;
      /* background-color: #161616; */
        margin: 15% 5%;
    }
    #picture{
        margin-top: 5%;
        margin-left: 5%;
        margin-bottom: 5%;
        width:580px;
      height:720px; 
      border: 5px solid white;
      display: inline;
      float: left;
    }
    
    .Colored-try-out{
      height: 1000px;
      background-image: url("../Pictures/Capture.PNG");
        width: auto;
        background-attachment: fixed;
        background-position: center;
        background-repeat: repeat;
        background-size:auto;
    }
    
    /*----------------------------------------------------------------------------------*/
    /* The navigation bar */
    #navbar {
      background-color: #333; /* Black background color */
      background:transparent;
      position: fixed; /* Make it stick/fixed */
      top: 0; /* Stay on top */
      width: 100%; /* Full width */
      transition: top 0.3s; /* Transition effect when sliding down (and up) */
    }

    #navbar .right {
      float: right;
      border: 1px solid;
      color: white;
      padding: 10px;
      margin: 10px;
      cursor: pointer;
    }
    
       #button-form{
         /* border: 2px solid black; */
         margin-left: 1%;
         margin-top: 0.2%;
         font-family: 'Lato', sans-serif;
         width: 5%;
       }
       #button-form1{
        /* border: 2px solid black; */
        font-family: 'Lato', sans-serif;
        margin-left: 0.5%;
        margin-top: 0.2%;
        width: 6%;
        height: 5%;
      }
    /* Style the navbar links */
    #navbar a {
      float: left;
      display: block;
      color: white;
      text-align: center;
      padding: 10px;
      text-decoration: none;
    }
    
    #navbar a:hover {
      background-color: #ddd;
      color: black;
    }
    
    #position-and-style{
      position: relative;
      top: 60%;
      left: 0;
      width: 2.5cm;
      background:transparent;
      border: 1px solid white;
      color: white;
      text-decoration: none;
      text-decoration-line: none;
      height: 1cm;
    }
    #position-and-style:hover{
      background-color: white;
      color: black;
    }
    /*-------------------------------------------------------------------------*/
    
    .all-news {
      /*border: 1px solid white;*/
      color: white;
      margin:0px;

    }
    .all-news h2 {
      font-family: 'Special Elite', cursive;
    }
  
    .list-items{
      border: 1px solid white;
    }


  .list-items .img{
    border: 1px solid white;
  }


#img1{
/*border: 1px solid white;*/
display: flex;
flex-shrink: 9%;
width: 65%;
height: 75%;
flex-direction: row;
margin-left: 15%;
margin-top: 10%;
filter: grayscale(10);
overflow: hidden;
}
#textfirst{
  display: flex;
  flex-direction: row;
  margin-top: 3%;
  margin-left: 15%;
}
#textfirst::first-letter{
  font-size: 40px;

}

#date1{
  display: flex;
  flex-direction: row;
  margin-top: 1%;
  margin-left: 15%;
   font-family: 'Special Elite', cursive;
}

#textmessage{
  display: flex;
  flex-direction: row;
  text-align: justify;
  margin-right:20%;
  margin-top: 1%;
  margin-left: 15%;

 
}
@media only screen and (max-width: 768px) {
  #position {
    left: 10px;
  }
  #navbar a {
    min-width: 24%;
  }

  #main h1 {
    padding-left: 10%;
  }
}